doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://cdn.jsdelivr.net/npm/daisyui@3.0.0/dist/full.css", rel="stylesheet", type="text/css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css", rel="stylesheet")
    script(src="./javascripts/background.js")
    link(rel="stylesheet", href="stylesheets/styles.css")
    title VIBES
  body
    nav.navbar-father
      aside.max-w-screen-xl.flex.flex-wrap.items-center.justify-between.mx-auto.p-5
        span.self-center.text-2xl.font-semibold.whitespace-nowrap Vibes
        button(data-collapse-toggle="navbar-hamburger", type="button", class="inline-flex items-center p-2 ml-3 text-sm", aria-controls="navbar-hamburger", aria-expanded="false")
          ul
    section.bg-center.bg-no-repeat.bg-bg-gray-700.bg-blend-multiply
      aside.px-4.mx-auto.max-w-screen-xl.text-center.py-24.lgpy-56
        h1.mb-4.text-4xl.font-extrabold.tracking-tight.leading-none.mdtext-5xl.lgtext-6xl Vibes, the project that changes your life
        p.mb-8.text-lg.font-normal.lgtext-xl.smpx-16.lgpx-48 Vibes emerge how it a social problem that tried to solved
        aside.flex.flex-col.space-y-4.smflex-row.smjustify-center.smspace-y-0.smspace-x-4
          a(href="/login", class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center")
            | Login to your account
            svg(aria-hidden="true", class="ml-2 -mr-1 w-4 h-4", fill="currentColor", viewBox="0 0 20 20", xmlns="http://www.w3.org/2000/svg")
              path(fill-rule="evenodd", d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd")
          a(href="/signUp", class="inline-flex justify-center")
            | Sign Up
    script(src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js")
    script(src="https://cdn.tailwindcss.com")

