<% include('../models/myPosts.js') %>
<% include('../routes/index.js') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... (Tus metadatos y estilos) ... -->
</head>
<body> 
    <!-- ... (Encabezado y navegación) ... -->
    <section>
        <aside id="main" class="p-4 mx-80 max-w-full">
            <aside class="p-4 border-2">
                <aside class="grid grid-cols-3 gap-4 mb-4">
                    <section>
                        
                            <aside class="card" style="width: 20rem; height: 20rem;">
                                <aside id="tarjetaJaen" class="card-body">
                                    <span id="tituloJaen"><%= post.name_user %></span>
                                    <h5 id="tituloJaen2" class="card-title"><%= post.title %></h5>
                                    <p id="cuerpoJaen" class="card-text"><%= post.post %></p>
                                    <p id="date"><%= post.date %></p>
                                </aside> 
                            </aside>
                       
                    </section>
                </aside>
            </aside>
        </aside>
        <div class="btn_post">
            <input type="checkbox" id="btn-mas">
            <div class="new_post">
                <a href="/newPost" class="icon-post">NEW POST</a>
            </div>
            <div class="btn-mas">
                <label for="btn-mas" class="fa fa-plus"></label>
            </div>
        </div>
    </section>
</body>
</html>
