doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="http://cdn.tailwindcss.com")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css", rel="stylesheet")
    title Sign up
  body
    section.bg-gray-50.darkbg-gray-900
      div.flex.flex-col.items-center.justify-center.px-6.py-8.mx-auto.mdh-screen.lgpy-0
        div.w-full.bg-white.rounded-lg.shadow.darkborder.mdmt-0.smmax-w-md.xlp-0.darkbg-gray-800.darkborder-gray-700
          div.p-6.space-y-4.mdspace-y-6.smp-8
            h1.text-xl.font-bold.leading-tight.tracking-tight.text-gray-900.mdtext-2xl.darktext-white Sign Up
            form.space-y-3.mdspace-y-6(action="/signUp", method="POST")
              div
                label(for="name", class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") Name
                input(type="text", name="name", id="name", class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder="Your name", required="")
              div
                label(for="lastname", class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") Lastname
                input(type="text", name="lastname", id="lastname", class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder="Lastname", required="")
              div
                label(for="email", class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") Your email
                input(type="email", name="email", id="email", class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder="name@company.com", required="")
              div
                label(for="password", class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") Password
                input(type="password", name="password", id="password", placeholder="••••••••", class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required="")
              div
                label(for="vibes_id", class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") VIBES ID
                input(type="text", name="vibes_id", id="vibes_id", placeholder="••••••••", class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required="")
              div.flex.items-start
              button(type="submit", class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800") Create an account
    script(src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js")
